{%extends "template.html"%}

{% block title %}Home{% endblock %}
{% block head %}
{{super()}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<style>
    .form span {
        position: absolute;
        border-left: 1px solid gray;
        right: 20px;
    }

    .left-pan {
        padding-left: 5px;
    }

    .left-pan i {
        padding-left: 10px;
    }

    #image-container {
        position: relative;
        display: inline-block;
    }

    #image {
        max-width: 100%;
        height: auto;
    }

    .bounding-box {
        position: absolute;
        border: 2px solid red;
        pointer-events: none;
    }

    .label {
        position: absolute;
        background-color: red;
        color: white;
        font-size: 12px;
        padding: 2px;
        pointer-events: none;
    }
</style>
{%endblock%}
{% block content %}
<div id="image-container">
    <img
      id="image"
      src="https://i.imgur.com/gF7QYwa.jpg"
      alt="Example Image"
    />
    <div class="bounding-box" style="left: 0; top: 0; width: 250px; height: 250px;">
      <div class="label">Test</div>
    </div>
    <div class="bounding-box" style="left: 300px; top: 0; width: 250px; height: 250px;">
      <div class="label">A</div>
    </div>
    <div class="bounding-box" style="left: 700px; top: 0; width: 300px; height: 25px;">
      <div class="label">B</div>
    </div>
    <div class="bounding-box" style="left: 1100px; top: 0; width: 25px; height: 300px;">
      <div class="label">C</div>
    </div>
  </div>

  <script src="https://unpkg.com/react/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom/umd/react-dom.production.min.js"></script>
  <script src="https://unpkg.com/react-bounding-box/umd/react-bounding-box.min.js"></script>
  <script type="text/babel">
    const params = {
      image: 'https://i.imgur.com/gF7QYwa.jpg',
      boxes: [
        [0, 0, 250, 250],
        [300, 0, 250, 250],
        [700, 0, 300, 25],
        [1100, 0, 25, 300],
      ],
      options: {
        colors: {
          normal: 'rgba(255, 225, 255, 1)',
          selected: 'rgba(0, 225, 204, 1)',
          unselected: 'rgba(100, 100, 100, 1)',
        },
        style: {
          maxWidth: '100%',
          maxHeight: '90vh',
        },
      },
    };

    ReactDOM.render(
      <BoundingBox image={params.image} boxes={params.boxes} options={params.options} />,
      document.getElementById('image-container')
    );
  </script>
{%endblock%}