{%extends "template.html"%}

{% block title %}Recipe Details{% endblock %}
{% block head %}
{{super()}}
<style>
    .custom-padding{
        padding-top:20px;
    }
</style>
{%endblock%}
{% block content %}
    <div style="height: 100%;">
      <div class="col-md-8 px-3">
        <div class="d-flex align-items-center custom-padding">
            <a class="fa-solid fa-angle-left" style="text-decoration: none; color: black; font-size: 1.5rem;" onclick="history.back()"></a>
            <h4 class="mx-auto" style="text-decoration: none; color: black; text-align: center;">{{recipeDetails[0]}}</h4>
        </div>
        <div class="d-flex justify-content-center custom-padding">
            <img width="250" src="{{recipeDetails[5]}}">
        </div>
        <div class="d-flex justify-content-around" style="margin-top: 20px;">
            <div style="padding-right: 20px;">
                <h6>Serves:</h6>
                {{recipeDetails[1]}}
            </div>
            <div>
                <h6>Cooking Time:</h6>
                {{recipeDetails[2]}}
            </div>
        </div>        
        <div class="custom-padding">
            <h2>Ingredients</h2>
            <ul>
                {% for i in ingredients%}
                <li>{{i}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="custom-padding">
            <h2>Directions</h2>
            <ol>
                {% for i in steps%}
                <li>{{i}}</li>
                {% endfor %}
            </0l>
        </div>
      </div>
    </div>
{%endblock%}